* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #313131;
  color: #eee;
  font-family: "Catamaran", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  color: #ee2a2a;
}

b, strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 105%;
}

ul {
  padding-left: 1.5em;
}

ul li {
  list-style-type: disc;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: strech;
  -ms-flex-align: strech;
  align-items: strech;
  justify-content: center;
  height: 80vh;
  align-content: center;
  align-items: center;
}

main .child {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

main .search-top {
  padding: 0.25em 0.95em;
  font-size: 1.8em;
  font-weight: 400;
  padding: 0;
  color: white;
}

.search-box {
  height: 2rem;
  background: lime;
  position: relative;
}

.search-box .fake-input, .search-box input {
  display: block;
  border: 1px solid #313131;
  outline: none;
  width: 100%;
  font-size: 1.3rem;
  padding: 0.25em 0.65em;
  background: #eee;
  font-weight: bold;
  color: #313131;
}

.search-box .fake-input {
  height: 2.6rem;
}

.search-box ul {
  background-color: #eee;
  border: 1px solid #313131;
  position: absolute;
  top: 2.5rem;
  right: 0;
  left: 0;
  color: #313131;
  padding: 0;
}

.search-box ul li {
  list-style: none;
  font-size: 1.3rem;
  padding: 0.15em .75em;
  position: relative;
}

.search-box ul li:hover {
  background: #4885ed;
  cursor: pointer;
}

.search-box ul li.wrong-answer {
  background: rgba(238, 42, 42, 0.22);
  color: rgba(238, 42, 42, 0.77);
}

.search-box ul li.wrong-answer:after {
  position: absolute;
  top: 0;
  right: 0.5em;
  bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.search-box ul li.wrong-answer[data-place="1"]:after {
  content: '2';
}

.search-box ul li.wrong-answer[data-place="2"]:after {
  content: '3';
}

.search-box ul li.wrong-answer[data-place="3"]:after {
  content: '4';
}

.search-box ul li.wrong-answer[data-place="4"]:after {
  content: '5';
}

.search-box ul li.wrong-answer[data-place="5"]:after {
  content: '6';
}

.search-box ul li.wrong-answer[data-place="6"]:after {
  content: '7';
}

.search-box ul li.wrong-answer[data-place="7"]:after {
  content: '8';
}

.search-box ul li.wrong-answer[data-place="8"]:after {
  content: '9';
}

.search-box ul li.wrong-answer[data-place="9"]:after {
  content: '10';
}

.search-box ul li.correct-answer {
  background: rgba(62, 174, 18, 0.22);
  color: rgba(62, 174, 18, 0.77);
}

.search-box ul li.correct-answer:after {
  position: absolute;
  top: 0;
  right: 0.5em;
  bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  content: "\2713 ";
  cursor: default;
}

header {
  background-color: #2A313A;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  height: 3.5rem;
  z-index: 4;
}

header span {
  display: block;
  vertical-align: middle;
}

header .label {
  font-size: 0.7em;
  font-family: "Catamaran", sans-serif;
  line-height: 200%;
}

header .number {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 50%;
  color: #3eae12;
}

header .number.bad {
  color: #ee2a2a;
}

header > .inner {
  color: #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: strech;
  -ms-flex-align: strech;
  align-items: strech;
  padding-top: 0.2rem;
}

header > .inner .box {
  flex-basis: 16.6%;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: auto;
  text-align: center;
}

header > .inner .box.zero {
  opacity: 0;
}

header .hamburger-holder {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

header .hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #4885ed;
  outline: none;
  height: 2.25rem;
  width: 2.25rem;
}

header .hamburger svg {
  fill: currentColor;
}

header .hamburger g {
  transform-origin: center;
  transition: all 0.3s linear;
}

header .hamburger .close {
  opacity: 0.2;
  transform: scale(0.2);
}

header .hamburger.is-active .close {
  opacity: 1;
  transform: scale(1);
}

header .hamburger.is-active .open {
  opacity: 0.2;
  transform: scale(0.2);
}

@media (max-width: 600px) {
  header > .inner .box {
    flex-basis: 33.3333%;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
  }
  header > .inner .box.hamburger-holder {
    flex-basis: 3rem;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
  }
  header .hamburger-holder {
    text-align: right !important;
  }
  header .hamburger-holder .hamburger {
    position: relative;
    top: auto;
    right: auto;
    height: 100%;
  }
  header .hamburger-holder .hamburger svg {
    height: 1.6rem;
  }
}

.sidebar {
  position: fixed;
  top: 3.5rem;
  right: 0;
  background: #f0f1f2;
  color: #313131;
  width: 14rem;
  padding: 1rem;
  z-index: 3;
  transform: translateX(101%);
  transition: all 0.3s ease;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.65em;
  list-style: none;
}

.sidebar .label {
  display: block;
}

.sidebar .indent {
  display: block;
  padding-left: 0.75em;
  font-weight: 600;
}

.sidebar a {
  color: #4885ed;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .smaller {
  font-size: 0.8em;
}

.sidebar.visible {
  transform: translateX(0);
}
