meta(charset="utf-8")
title #{siteTitle}
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
link(href='https://fonts.googleapis.com/css?family=Catamaran:400,300,600' rel='stylesheet' type='text/css')
link(rel="stylesheet" href="css/idiots.css?v="+lastUpdated)
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=description)

//- favicons
include _favicons.pug

//- social
include _social.pug