- const testing = false
- let siteTitle = "Idiots win."
- const siteURL = "https://idiots.win"
- const pageTitle = "The Google Autocomplete Guessing Game"
- const description = "Get overwhelmed by the internet's collective consciousness as you guess the first thing that comes up in Google's autocomplete."
- const fplusURL = "https://thefpl.us/also-made/idiots-win"
- const d = new Date()
- const lastUpdated = d.toISOString()

- const twitterHandle = "@AhoyLemon"
- const emailAddress = "lemon@idiots.win"