- var testing = false
- var siteTitle = "Idiots win."
- var siteURL = "https://idiots.win"
- var pageTitle = "The Google Autocomplete Guessing Game"
- var description = "Get overwhelmed by the internet's collective consciousness as you guess the first thing that comes up in Google's autocomplete."
- var fplusURL = "https://thefpl.us/also-made/idiots-win"
- var lastUpdated = new Date().toISOString().split('.')[0] + '−06:00'