- var pageTitle = "Home"
- var lastUpdated = "04.13.2016"

doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="/css/search.css")
    title TEST
  body
    main
      .child
        .search-top What is Google's top result for...
        .search-box
          #FakeSearch.fake-input
          ul#Results
    
    include partials/javascripts.jade