- var siteTitle = "idiots.win"
- var siteURL = "http://idiots.win"
- var pageTitle = "The Google Autocomplete Guessing Game"
- var description = "Get overwhelmed by the internet's collective consciousness as you guess the first thing that comes up in Google's autocomplete."
- var lastUpdated = "06.06b.2016"

doctype html
html(lang="en")
  head
    include partials/head.jade
  body
    include partials/header.jade
    include partials/sidebar.jade
    
    main
      .child
        .search-top What is Google's top result for...
        .search-box
          #FakeSearch.fake-input
          ul#Results
          
    include partials/schema.jade
    include partials/javascripts.jade