$lemonYellow: #e4e72c;
$lemonBlack: #010101;

.banner { background-color:$lemonYellow; width:305px; @include position(fixed,null,10px,10px); @include flex-container(); transform: translateX(320px); transition:all 0.5s cubic-bezier(.63,.49,.63,1.45);
  //.invisible {  }
  .icon-holder { @include flex-item(76px); padding: 10px; color:$lemonBlack; }
  .text-holder { @include flex-item(calc(100% - 76px)); padding-top:20px; padding-right: 20px; font-size:120%; }
  .text { color:$lemonBlack; text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  .close { @include position(absolute,5px,5px); cursor: pointer; color:$lemonBlack;
    svg { width:18px; height: 18px; }
    .fill { opacity: 0; }
    &:hover {
      .x { fill:$lemonYellow; }
      .fill { opacity: 1; }
    }
  }
  box-shadow: 2px 2px 4px rgba(0,0,0,0.65);
  &.visible { transform: translateX(0); }
}