header { @include position(fixed,0,0,null,0); padding-top:0.25em; padding-bottom:0.25em; height:$header-height; z-index:$z-header;
  > .inner { padding-right: 4rem; }
  span { display:block; vertical-align: middle; }
  //.percent { display: none; }
  .label { font-size:0.7em; font-family: $sans-serif; line-height: 200%; }
  .number { font-size:1.8em; font-weight: $light; line-height: 50%; color:$green;
    &.perfect { color:$perfect; }
    &.great { color:$great; }
    &.okay { color:$okay; }
    &.bad { color:$bad; }
    &.failure { color:$failure; }
  }
  
  > .inner { color:$white; max-width: 700px; margin-left: auto; margin-right: auto;  @include flex-container(); padding-top:0.2rem;
    .box { @include flex-item(16.6%); text-align: center; height: 2.8em;
       &.zero { opacity: 0; }
    }
  }
  
  .hamburger-holder { @include position(absolute,0.8rem,1rem); }
  .hamburger { background:transparent; border:none; cursor: pointer; color:$blue; outline:none; height: 2.25rem; width: 2.25rem;
    svg { fill:$offwhite;  }
    g { transform-origin: center; transition:all 0.3s linear; }
    .close { opacity: 0.2; transform: scale(0.2); }
    &.is-active {
      .close { opacity: 1; transform: scale(1);}
      .open { opacity: 0.2; transform: scale(0.2);}
    }
  }
}

/**
@media (max-width:$max-width) {
  header { 
    //.number { font-size:1.5em;}
    > .inner {
      .box { @include flex-item(33.3333%);
        &.hamburger-holder { @include flex-item(3rem); }
      }
    } 
    .hamburger-holder { text-align: right !important;
      .hamburger { position:relative; top: auto; right:auto; height: 100%;
        svg { height: 1.6rem; }
      }
    }
  }
}

**/