.sidebar { @include position(fixed,$header-height,0); background: $offwhite; color:$black; width: 14rem; padding: 1rem; z-index: $z-sidebar;
  ul { padding: 0; }
  li { margin-bottom: 0.65em; list-style: none; }
  .label { display: block; line-height: 90% }
  .indent { display: block; padding-left: 1em; font-weight: $bold; }
  a { color:$blue; text-decoration: none; cursor: pointer; 
    &:hover { text-decoration: underline; }
  }
  .smaller { font-size:0.8em; }
  transform: translateX(101%); transition: all 0.3s ease;
  &.visible { transform:translateX(0); }
}