- var siteTitle = "Idiots win."
- var siteURL = "https://idiots.win"
- var pageTitle = "The Google Autocomplete Guessing Game"
- var description = "Get overwhelmed by the internet's collective consciousness as you guess the first thing that comes up in Google's autocomplete."
- var fplusURL = "https://thefpl.us/also-made/idiots-win"
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
    script
      include ../js/partials/_analytics.js
  body
    include partials/_header.pug
    include partials/_sidebar.pug
    
    main
      .child
        .search-top What is Google's top result for...
        .search-box
          #FakeSearch.fake-input
          ul#Results
          
    include partials/_banner.pug
    include partials/_gameover.pug
    include partials/_schema.pug
    include partials/_javascripts.pug