doctype html
include partials/_variables.pug
html(lang="en")
  head
    include partials/_head.pug
    if testing
      script.
        const testing = true
    else
      script.
        const testing = false;
    script
      include ../js/partials/_analytics.js
  body
    include partials/_header.pug
    include partials/_sidebar.pug
    
    main
      .child
        .search-top What is Google's top result for...
        .search-box
          #FakeSearch.fake-input
          ul#Results
          
    include partials/_banner.pug
    include partials/_gameover.pug
    include partials/_schema.pug
    include partials/_javascripts.pug