doctype html 
include partials/_variables.pug

- var siteTitle = "OFFLINE: " + siteTitle
html(lang="en")
  head
    include partials/_head.pug
  body
    include partials/_sidebar.pug
    
    style.
      body { background-color:#f1da5e; color:#6e1e26; }
      img.offline { width:60%; max-height:50vh; }
    
    main
      img.offline(src="svg/offline.svg")
          
    include partials/_javascripts.pug