.sidebar
  ul
    li
      span.label Game by
      span.indent
        a(href="https://thefpl.us/meet/lemon" target="blank" onclick="sendGA('outside link', 'https://thefpl.us/meet/lemon')") Lemon
    li
      span.label with a lot of help from
      span.indent
        a(href="https://thefpl.us/meet/montrith" target="blank" onclick="sendGA('outside link', 'https://thefpl.us/meet/montrith')") Montrith
    li
      span.label and no involvement from
      span.indent Google
    li 
      span.label Current round count
      span.indent
        span.number-of-rounds#RoundCount
    li 
      span.label You could look at the
      span.indent
        a(href="https://github.com/AhoyLemon/idiots/tree/gh-pages#the-google-autocomplete-guessing-game" target="blank" onclick="sendGA('outside link', 'https://github.com/AhoyLemon/idiots')") GitHub documentation
    li
      span.label Or you could play
      span.indent
        a(href="http://damn.dog" target="blank" onclick="sendGA('outside link', 'http://damn.dog')") damn.dog
    li#AddToHomeScreen
      span.label but you should probably
      span.indent 
        a(style="font-weight:bold;")#HomescreenLink
        b .
    //-
      li
        span.label You can
        span.indent
          a#OpenSharebox share this round.
      li.smaller Your progress will be saved if you close this browser.

.homescreen-help-holder.helper-holder#HomescreenHolder
  .homescreen-help
    .tap-that-icon.top-right-icon Tap that 
      span.opera heart 
      | icon 
      span.arrow
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.6 100")
          path(d="M.1 41.7L41.8 0l41.8 41.7v27.6L51.9 37.6V100H31.6V37.8L0 69.3")
    p.ios Tap the icon below, then choose 
      b Add To Home Screen 
      | from the menu that appears.
    p.android Then choose
      b Add to Home screen
      |  from the menu that appears.
    p.edge Then choose 
      b Pin this page to start
      |  from the menu that appears.
    p.desktop-chrome Then choose 
      b More Tools
      |  and then 
      b Add To Desktop
    a.button.close-homescreen-help#CloseHomeScreenHelp Okay, did it.
    .tap-that-icon.ios.bottom-center-icon
      span.arrow
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.6 100")
          path(d="M83.6 58.3L41.8 100 0 58.3V30.7l31.8 31.7V0H52v62.2l31.6-31.5")